<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <div v-if="comprou" :style="{background: cor}">
      <h1>{{titulo}}</h1>
      <h1>{{conteudo}}</h1>
      <p>Área do Quadrado: {{lado * lado / 100}}</p>
      <p>Perímetro Quadrado: {{lado * 4}}</p>
      <p>Curso Liberado: {{comprou ? 'Sim, ele comprou!' : 'Não comprou. Compre aqui!'}}</p>
      <input v-model="cor" type="color"><span>{{cor}}</span>
    </div>
    <a :href="comprou ? href : ''">{{href}}</a>
  </div>

  <script>
    new Vue({
      el: " #app", data: {
        titulo: "Curso de JavaScript", conteudo: "Esse é o conteudo", lado: 5, comprou: true, href: "https://www.google.com", cor: "#cc5c5c"
      }
    })</script>

</body>

</html>